<div class="card">
  <!-- Card header -->
  <div class="card-header">
    <h3 class="mb-0">プロフィール</h3>
  </div>
  <!-- Card body -->
  <div class="card-body">
      <div class="d-lg-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center mb-4 mb-lg-0">
          <%= image_tag @user.decorate.avatar, class: 'avatar-xl rounded-circle' %>
          <div class="ms-3">
            <h4 class="mb-3">avatar</h4>
          </div>
        </div>
      </div>
    <hr class="my-5">
    <div>
      <h4 class="mb-3">Personal Details</h4>
      <!-- Profile -->
      <div class="card mb-3">
        <div class="card-header">
          Name
        </div>
        <div class="card-body">
          <%= @user.name %>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">
          Hobby
        </div>
        <div class="card-body">
          <%= @user.hobby %>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">
          Profile
        </div>
        <div class="card-body">
          <%= @user.profile %>
        </div>
      </div>
    </div>
  </div>
</div>
